# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Visual Studio & IDEs
**/.vs/
**/*.iml
**/*.ipr
**/*.iws
**/.idea/
.vscode/

# Flutter/Dart/Pub build outputs & caches (recursive)
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Scratch & Temporary Folders
**/scratch/
scratch/
testsample.pdf

# Backend
backend/node_modules/
backend/.env
backend/*.log
backend/uploads/*
!backend/uploads/.gitkeep
backend/models.txt
backend/test-gemini.js
backend/list-models.js
backend/response_debug.json
backend/test-gemini-v2.js
.env
node_modules/
/tasks.md
/documentation.md
/full_audit_report.md

*.jks
*.keystore
key.properties
/Data.xlsx
/documentation_coverage_analysis.md